html {
  width: 100% !important;
}
* {
  box-sizing: border-box;
}

.no-style {
  text-decoration: inherit;
}

/* ======  NAV SECTION START ====== */
#nav-section {
  position: sticky;
  top: 0;
  z-index: 10;
}
#navbar {
  background-color: rgb(255,255,255) !important;
  box-shadow: 0px 2px 10px black;
  min-height: 10vh;
}
.logo-nav {
  width: 7.5rem;
}
.image-nav {
  width: 2rem;
}
.nav-container-icon > .nav-item {
  margin-right: 20px;
  transition: ease 0.5s;
  border-radius: 40px;
  align-items: center;
}
.nav-container-icon > .nav-item:hover {
  background-color: #d7d8d8;
}
.nav-container-text > .nav-item {
  transition: ease 0.5s;
  border-radius: 10px;
  margin-right: 10px;
}
.nav-link {
  color: black !important;
}
.nav-container-text > .nav-item:hover {
  background-color: #d7d8d8;
  transform: scale(1.1);
}
/* <<<<<<  NAV SECTION END >>>>>> */

/* ======  MAIN SECTION START ====== */

#player-section {
  height: 50vh; /* La mitad de la pantalla */
  background: linear-gradient(0deg, rgb(28, 49, 68) 5%, rgb(255, 255, 255) 100%);
  align-items: center;
}

#player-section iframe {
  background: white;
  border-radius: 10px;
}

/* <<<<<<  MAIN SECTION SECTION END >>>>>> */

/* Programs */
#programs-section {
  background-image: url("../images/logo_blue_w.svg");
  background-color: #1c3144;
  background-size: cover;
}

.text-title {
  background-color: rgb(0, 117, 176);
  color: #ffffff;
}
.text-desc {
  text-align: justify;
  padding: 20px;
  background-color: #ffffff;
}

#overlay-img {
  position: relative;
  width: 35%;
}

/* Programs end */

/* ======  MEDIA QUERY SECTION START ====== */

@media screen and (max-width:1400px){
  #cur-container{
    flex-direction: column;
  }
  #contact-container {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .nav-container-icon {
    flex-direction: row !important;
    justify-content: space-evenly;
    padding-bottom: 10px;
  }
  .nav-container-text {
    border-top: 1px solid #d7d8d8;
  }
  .nav-container-text > .nav-item {
    text-align: center;
  }
  .nav-container-icon > .nav-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* <<<<<<  MEDIA QUERY SECTION END >>>>>> */
